<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Store</title>
</head>
<body>
    <header style="background:#eee;padding:10px;">
        <h2>My Video Store</h2>
        <hr>
    </header>

    <main style="margin:20px;">
        {% block content %}
        <!-- Content from child templates will appear here -->
        {% endblock %}
    </main>

    <footer style="background:#eee;padding:10px;text-align:center;">
        <p>© 2025 Video Store</p>
    </footer>
</body>
</html>
