{% extends "inventory/base.html" %}
{% block content %}
<h1>Videoss</h1>
<table border="1" cellpadding="6">
  <tr>
    <th>Title</th><th>Year</th><th>Genre</th><th>Actions</th>
  </tr>
  {% for v in videos %}
  <tr>
    <td><a href="{% url 'video_detail' v.pk %}">{{ v.movie_title }}</a></td>
    <td>{{ v.release_year }}</td>
    <td>{{ v.get_movie_genre_display }}</td>
    <td>
      <a href="{% url 'video_update' v.pk %}">Edit</a>
      <a href="{% url 'video_delete' v.pk %}">Delete</a>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="4">No videos yet.</td></tr>
  {% endfor %}
</table>
{% endblock %}
