apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      containers:
      - name: django-container
        image: mydjangoapp:latest
        imagePullPolicy: Never   # <-- required for Minikube local image
        ports:
        - containerPort: 8000
